<p id="notice"><%= notice %></p>

<p>
  <b>Posted By User:</b>
  <%= @post.user_id %>
</p>
<p>
  <b>Text:</b>
  <%= @post.text %>
</p>
<div>
	<h2>Comments</h2>
	
<% @post.comments.each do |comment| %>
  	User ID:<%= comment.user_id %>
  	Post ID:<%= comment.post_id %>
    Comment |<%= comment.content %>
   <%= time_ago_in_words comment.created_at %> ago
    <p>
    <%= link_to 'Edit', edit_comment_path(comment) %>|
    <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
<% end %>

<%= form_for [@post,@post.comments.build] do |f| %>
  <div class="field">
 	<%= f.hidden_field :user_id, :value => current_user.id %> 
  </div>
  <div class="field">
    <%= f.label :post_id %><br />
    <%= f.hidden_field :post_id, :value => @post.id %>
  </div>
  <div class="field">
    <%= f.label :content%><br />
    <p><%= f.text_area :content , :size => '30x10' %></p>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>



<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
