<h1>Listing posts feed</h1>



<% @posts.each do |post| %>
 
    <h3>Posted By User<%= post.user_id %></h3>
    Created <%= time_ago_in_words post.created_at %> ago
   <p> <%=truncate post.text %></p>
     
     

    <br /> 
    <p>
    <%= link_to 'Show', post %>|
    <%= link_to 'Edit', edit_post_path(post) %>|   
    <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
<% end %>


<br />

<%= link_to 'New Post', new_post_path %>
